.hero-banner {
  height: 420px;
  background:
    linear-gradient(180deg,
      rgba(16, 34, 22, 0) 0%,
      rgba(16, 34, 22, 0.8) 70%,
      #102216 100%),
    url("coin.png");
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 24px;
  border-radius: 12px;
  margin: 16px 16px 0px 16px;
}
.hero-logo {
  position: absolute;
  top: 24px;
  left: 24px;
  display: flex;
  align-items: center;
  gap: 8px;
}
.icon-primary {
  color: var(--primary);
  font-size: 32px;
}
.logo-text {
  font-weight: 700;
  font-size: 20px;
}
.content-padding {
  padding: 0 24px;
}
.feature-grid {
  display: flex;
  justify-content: space-between;
  margin-top: 24px;
  gap: 10px;
}
.feature-item {
  text-align: center;
  flex: 1;
}
.icon-box {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  background: rgba(19, 236, 91, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--primary);
  margin: 0 auto;
}
.bottom-actions {
  padding: 16px 24px 32px;
  border-top: 1px solid rgba(255, 255, 255, 0.05);
  background: rgba(16, 34, 22, 0.95);
  backdrop-filter: blur(8px);
  margin-top: auto;
}
.btn-outline-margin {
  margin-top: 12px;
}